/*start header*/
header {
  .navbar-brand {
    span {
      background-color: $red-color;
      width: 20px;
      height: 20px;
    }
  }
  .work .nav-link {
    color: $white-color;
    &:hover {
      color: $red-color;
      @include transition;
    }
  }
}
/*end header*/
